@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&family=Roboto+Condensed&family=Roboto:wght@100;300&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}


